body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../assets/img/fondo.png);
}

.btnWitdh {
    width: 100%;
}


#imagen-carrusel {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
    
  
.card .card-image .card-title {
    color: #f50e0e;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 44px;
    font-size: 30px;
}
#mytitle {
    font-size: 50px; 
    color: #ec0808; 
}

.collection-item .circle img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
  }
  #myProducts .collection-item img {
    width: 350px; 
    height: auto; 
    border-radius: 8px; 
    margin-right: 10px; 
    display: block; 
    margin: 0 auto; 
  }
  